/.idea/
/fchat-server.iml
/target/

/fchat-api/target/
/fchat-api/fchat-api.iml

/fchat-msg/target/
/fchat-msg/fchat-msg.iml

/fchat-ws/target/
/fchat-ws/fchat-ws.iml

/fchat-basic/target/
/fchat-basic/fchat-basic.iml


/fchat-doc/target/
/fchat-doc/fchat-doc.iml


